<f:if condition="{media}">
	<!-- fal media files -->
	<div class="news-img-wrap">
		<div class="grid-sizer">

		</div>
		<f:for each="{media}" as="mediaElement">
				<f:if condition="{mediaElement.originalResource.type} == 2">
					<f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
				</f:if>
				<f:if condition="{mediaElement.originalResource.type} == 4">
					<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
				</f:if>
				<f:if condition="{mediaElement.originalResource.type} == 5">
					<f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
				</f:if>
		</f:for>
	</div>
</f:if>
